
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.item-form{
margin:30px;
padding:6px;
}

.contenedor-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

    
}

.item-form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 4px;
    font-size: 16px;
    
}

textarea.form-control {
    height: 100px;
    resize: vertical;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

.cont{

    background-image: url('https://images.samsung.com/is/image/samsung/p6pim/latin/feature/165094767/latin-feature-quick-share-540451946?$624_n_JPG$');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
   
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; 
    


}
