<app-header></app-header>
<div class="container-fluid cont">
<div class="row">
    <div class="col-md-12">
    
</div>
</div>
<br/>
<br/>
<div class="container">
    <div class="row rows color">
        
    <div class="col-md-6 ">
        <img src="assets/imagen1.jpg" class="img"/>
        <br/>
        <img src="assets/imagen2.jpg"  class="img"/>
        <br/>
        <img src="assets/imagen3.jpeg" class="img"/>
    </div>
    <div class="col-md-6">
    <h2>Nuestra Historia</h2>
    <p> En [Nombre de la Empresa], creemos que la programación no es solo una habilidad técnica, sino una puerta hacia un futuro lleno de posibilidades. Nuestra historia comienza con un grupo de apasionados programadores y educadores que compartían una visión: hacer que el aprendizaje de la programación sea accesible, comprensible y emocionante para todos.</p>
     
     <h4>El Comienzo</h4>
    <p> Todo comenzó en una pequeña sala de estar, donde nuestro fundador, [Nombre del Fundador], impartía clases de programación a amigos y familiares. La respuesta fue abrumadoramente positiva. Las personas no solo estaban aprendiendo a codificar, sino que también descubrían nuevas formas de resolver problemas, pensar de manera crítica y crear algo de la nada.
     
     <h4>Crecimiento y Expansión</h4>
     <p>Con el tiempo, lo que empezó como un pequeño proyecto se convirtió en una misión global. Reclutamos a los mejores instructores, desarrolladores y diseñadores para crear una plataforma que ofreciera una experiencia de aprendizaje integral y dinámica. Nos enfocamos en cursos prácticos y actualizados que reflejan las demandas del mercado laboral y las últimas tendencias tecnológicas.</p>
     
    
    </div>
    </div>     
    

</div>
<app-whatsapp></app-whatsapp>
<app-footer></app-footer>
