
<div class="container cont" *ngFor="let items of course">
<div class="row color">
<div class="col-md-7">
<img [src]="items.url" height="600" width="750" alt="imagenes" />
</div>
<div class="col-md-5 ">
    <h2>{{items.titulo}}</h2>
    <hr/>
    <p>{{items.contenido }}</p>
    
<h6> RD$ {{items.price}}</h6>

<button class="btn btn-success" [ngStyle]="{'width':'500px','margin':'5px','padding':'10px'}" (click)="addcart(items.id)">Add to Cart</button>
<br/>

<button class="btn btn-primary" [ngStyle]="{'width':'500px' ,'margin':'10px','padding':'10px'}">Buy</button>
</div>
</div>
</div>