/* You can add global styles to this file, and also import other style files */
body{
    background-image:url('https://i.pinimg.com/236x/f0/fa/ea/f0faea7f3004afa34c147eb233f221ca.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    margin:0px;
    padding:0px;
    
    
    }